<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        有参数构造方法
    -->
    <!--下标赋值-->
    <!--<bean id="user" class="com.yuan.pojo.User">-->
        <!--<constructor-arg index="0" value="下标赋值"/>-->
    <!--</bean>-->

    <!--参数类型  不建议使用-->
    <!--<bean id="user" class="com.yuan.pojo.User">-->
        <!--<constructor-arg type="java.lang.String" value="根据参数类型"/>-->
    <!--</bean>-->

    <!--参数名-->
    <bean id="user" class="com.yuan.pojo.User">
        <constructor-arg name="name" value="直接通过参数名"/>
    </bean>
    <bean id="test" class="com.yuan.pojo.UserSecondTest">
        <constructor-arg name="testName" value="测试第二个实例"/>
    </bean>
</beans>